extends layout
block content
    nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
      a.navHead(href='#') Blog Post
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample03', aria-controls='navbarsExample03', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarsExample03.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
          li.nav-item
            a.nav-link(href='/add-blog') Add Post
        //- form.form-inline
        //-   .input-group
        //-     .input-group-prepend
        //-       span#basic-addon1.input-group-text @
        //-     input.form-control(type='text' placeholder='Search user' data-target="modal1")

        ul.navbar-nav.float-right
            li.nav-item
                a.nav-link(href='/logout') Logout
    each blog in blogs
        .card(style='width: 25rem;margin: 10px auto')
            h5.card-header(style="text-transform: capitalize") #{blog.posted_by}
            img.card-img-top(src=`http://localhost:4000/${blog.image}`, alt='Card image')
            .card-body
                h5.card-title.text-left #{blog.title}
                p.card-text.text-left #{blog.content}
            .card-footer
                div(style="display: flex; justify-content: space-between; margin: 5px")
                  div(style="display: flex; gap: 0.3rem;")
                    p#reactions.card-link.text-center(onClick=`handleReaction(${blog.id})`)(style='color:blue; cursor:pointer; margin:0; font-size: 18px;') &#128151; #{blog.heart}
                  p#react.card-link.text-center(data-target='#exampleModalLong' data-toggle='modal' onClick=`handleViewComments(${blog.id})`)(style='color:blue; cursor:pointer; margin:0') View Comments
                .input-group.mb-3
                  input(id=blog.id).form-control(type='text' placeholder="Comment" name="comment")
                  .input-group-append
                    button.btn.btn-outline-secondary(type='button' onClick=`handleComment(${blog.id})`) Post

    #exampleModalLong.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLongTitle.modal-title Comments
            button.btn.btn-outline-secondary.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &#x2715;
          .modal-body#all_comments
            |

    script.
      function handlefunction() {
        fetch('/reactions')
          .then(res => {return res.text()})
          .then(data => {
            //- console.log(JSON.parse(data).emojiList)
            document.getElementById('react').innerHTML = ""
            for (let i of JSON.parse(data).emojiList)  {
              document.getElementById('emojis').innerHTML += i.emoji
              document.getElementById('emojis').innerHTML += "  "
            }
          })
          .catch(err => console.log('err', err))
      }

      function handleComment(blogId) {
        let comment = document.getElementById(`${blogId}`).value
        console.log(blogId, comment)
        //- console.log(blog)
        if (comment.length == 0) return; 
        fetch('/post-comment', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({comment:comment, blogId: blogId})
        })
        .then(res => {return res.text()})
        .then(res => {
          console.log(res) 
          document.getElementById(`${blogId}`).value = " " 
          })
        .catch(err => console.log('err', err))
      }

      function handleReaction(blogId) {
        let reaction = document.getElementById("reactions").innerText
        console.log(blogId)
        fetch('/post-reaction', {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({blogId: blogId})
        })
        .then(res => {return res.text()})
        .then(res => console.log(res))
        .catch(err => console.log(err))
      }

      function handleViewComments(blogId) {
        //- console.log(blogId)
        fetch('/getComments', {
          method: "POST",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({blogId: blogId})
        })
        .then(res => {return res.text()})
        .then(res => {
          document.getElementById('all_comments').innerHTML = " "
          if (JSON.parse(res).allComments.length === 0) {
            document.getElementById('all_comments').innerHTML = `<h3 style="text-align: center; color: #eee;">No Comments Yet</h3>`
          }
          for (let i of JSON.parse(res).allComments)  {
            document.getElementById('all_comments').innerHTML += `<div style="box-shadow: 0 0 2px 2px lightblue; border-radius: 15px; border: 0px solid #000"><h5 style="padding: 0px 10px; padding-top: 10px; color: blue; text-transform: capitalize">${i.posted_by}</h5><p style="padding: 10px 10px;">${i.comment}</p></div>`
          }
        })
        .catch(err => console.log('err', err))
      }